body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    min-height: 309px;
    background: linear-gradient(to right, #b4ffff, #6eddff);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    gap: 10px;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #262626;
    border-radius: 30px;
    background: none;
     box-shadow: 
        0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

button {
    color: rgb(0, 0, 0);
    font-weight:lighter;
    padding: 10px 20px;
    font-size: 10px;
    border: 1px solid #000000;
    border-radius: 50px;
    background: none;
        box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    
}

li {
    margin-top: 5px;
}

a {
    font-size: 21px;
    color: #000000;
}

h1 {
font-family: 'Inter';
font-weight:lighter;
font-size: 28px;
text-align: center;
color: #000000;
text-shadow: 
0 2px 4px rgba(0, 0, 0, 0.08);
}

.btn-row{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}



